<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center" action="/shirts/add" method="post">
    <label for="name">Name of Shirt</label>
    <input id="name" type="text" name="name">
    <label for="size">Shirt Size</label>
    <input id="size" type="text" name="size">
    <label for="price">Price of Shirt</label>
    <input id="price" type="text" name="price">
    <button type="submit">Add Shirt!</button>
</form>
</body>
</html>